// _typography.scss
$font-family: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

@mixin font-bold {
  font-weight: $font-weight-bold;
}

@mixin font-normal {
  font-weight: $font-weight-normal;
}
